/*general CSS*/

:root {
  font-size: 62.5%;
  --color1: #48392a;
  --primaryBlue: #2c3d55;
  --colorfont: #eaf8bf;
  --color4: #f9a22e;
  --color5: #ef5b5b;
  --secondary: #6c8ead;
}

body {
  background-color: #eee;
  font-family: "Comfortaa", cursive !important;
  overflow-x: hidden;
}

section {
  position: relative;
}

section * {
  position: relative;
  z-index: 2;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: transparent;
}
iframe {
  width: 100%;
}
/*end general CSS*/
.image-logo {
  height: 7vh;
  margin-top: 10px;
}
main {
  margin-top: 77px;
}
video {
  width: 100vw;
}
.video {
  z-index: -1;
}
.middle {
  background-image: url(../img/background1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
}
.middle-title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--colorfont);
  text-shadow: 2px 2px 4px black;
}
.title-footer,
hr,
.btn-secondary a {
  color: var(--colorfont);
}

.title-footer {
  font-size: 2rem;
}

.btn {
  margin: 20px 0;
}

.section-video-view {
  background-image: linear-gradient(to top, var(--color4), var(--color1));
}

.footer {
  background: var(--primaryBlue);
  padding: 45px 0 35px;
}
.fas,
.fab {
  color: var(--color4);
  font-size: 40px;
}
.title-view {
  margin: 40% 0;
  font-size: 2.5rem;
}

@media only screen and (min-width: 901px) {
  .offer-view {
    margin-top: 0;
  }
  .title-view {
    margin: 15% 0;
    font-size: 5rem;
  }
}
