/*general CSS*/

:root {
  font-size: 72.5%;
  --color1: #48392a;
  --primaryBlue: #2c3d55;
  --colorfont: #eaf8bf;
  --color4: #f9a22e;
  --color5: #ef5b5b;
  --secondary: #6c8ead;
}

body {
  background-color: #eee;
  font-family: "Comfortaa", cursive !important;
  overflow-x: hidden;
}

section {
  position: relative;
}

section * {
  position: relative;
  z-index: 2;
}
/* 
img {
  max-width: 100%;
  height: auto;
} */

a {
  text-decoration: none;
}

/*end general CSS*/

/*start header*/
header {
  height: 75px;
  width: 100vw;
  background-color: var(--primaryBlue);
}
.nav-complete {
  height: 100vh;
  width: 250px;
}
.mobile-header > label {
  cursor: pointer;
}
label {
  margin: 23px 10px;
}
.span1,
.span2,
.span3 {
  left: 10px;
  content: " ";
  background-color: white;
  width: 35px;
  height: 4px;
  border-radius: 5px;
  transition: all 0.4s ease;
}
.span1 {
  top: -14px;
}
.span2 {
  top: -6px;
}
.span3 {
  top: 2px;
}
#button-main:checked ~ label > .span1 {
  transform: rotate(140deg);
  top: 0;
}
#button-main:checked ~ label > .span2 {
  background-color: transparent;
}
#button-main:checked ~ label > .span3 {
  transform: rotate(-140deg);
  top: 0;
}
.nav-link,
.dropdown-item {
  color: white;
}
.nav,
.dropdown-menu {
  background-color: var(--primaryBlue);
}
.mobile-header .hidden-nav .nav .nav-item {
  margin: 10px 0;
}
.hidden-nav {
  margin-left: -250px;
  z-index: 10;
}
#button-main:checked ~ .hidden-nav {
  margin-left: 0;
  transition: all 0.5s;
}
.btn-secondary a {
  color: black;
}
.logo-mobile {
  width: 60%;
}
.desktop-header {
  display: none;
}
.desktop-logo {
  width: 137px;
}

/*end header*/
/*start main*/
main {
  margin-top: 74px;
}
.card-title {
  color: var(--color1);
}
video {
  width: 100vw;
}
.video-title {
  font-size: 3rem;
  width: 50%;
  margin: auto;
}

.overlay {
  z-index: 5;
  width: 100%;
  height: 99%;
  background-color: rgba(0, 0, 0, 0.46);
}
.video-text-container {
  top: 0;
  color: var(--colorfont);
  text-shadow: 2px 2px 4px black;
  z-index: 6;
}
.video-text {
  background-color: rgba(255, 255, 255, 0.2);
}
.intro > .card {
  margin: auto;
}
.card-intro > h2,
h5 {
  font-weight: bold;
}
.middle {
  background-image: url(../img/background1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
}
.middle-title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--colorfont);
  text-shadow: 2px 2px 4px black;
}
.title-footer,
hr,
.btn-secondary a {
  color: var(--colorfont);
}

.title-footer {
  font-size: 2rem;
}

.btn {
  margin: 10px 0;
}
.btn-outline-warning {
  color: var(--colorfont);
  border-color: var(--colorfont);
}
.btn-outline-warning:hover {
  transition: all 0.5s;
  color: var(--primaryBlue);
  background: var(--colorfont);
  border-color: var(--colorfont);
}
.btn-outline-success {
  color: var(--primaryBlue);
  border-color: var(--primaryBlue);
}

.btn-outline-success:hover {
  transition: all 0.5s;
  background-color: var(--secondary) !important;
  border-color: var(--secondary);
  color: white;
}

.footer {
  background: var(--primaryBlue);
  padding: 45px 0 35px;
}
.fas,
.fab {
  color: var(--color4);
  font-size: 40px;
}
.banner-background {
  background-image: url("../img/bgoffer5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 200px;
}
.title-view {
  color: var(--colorfont);
}
@media only screen and (min-width: 992px) {
  /*star header desktop*/
  header {
    height: 120px;
  }

  .mobile-header,
  .logo-mobile {
    display: none;
  }
  .desktop-header {
    display: block;
  }
  /*end header desktop*/
  .video-text-container {
    top: 0;
  }

  .video-title {
    font-size: 4rem;
    width: 100%;
  }
  .offer-view {
    margin-top: 0;
  }
  .title-view {
    margin: 15% 0;
    font-size: 5rem;
  }
}
