/*general CSS*/

:root {
  font-size: 62.5%;
  --color1: #48392a;
  --primaryBlue: #2c3d55;
  --colorfont: #eaf8bf;
  --color4: #f9a22e;
  --color5: #ef5b5b;
  --secondary: #6c8ead;
}

body {
  background-color: #eee;
  font-family: "Comfortaa", cursive !important;
  overflow-x: hidden;
}

section {
  position: relative;
}

section * {
  position: relative;
  z-index: 2;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: transparent;
}

/*end general CSS*/
.image-logo {
  height: 7vh;
  margin-top: 10px;
}
main {
  margin-top: 77px;
}
video {
  width: 100vw;
}
/* .video {
  z-index: -1;
} */
.video-title {
  font-size: 3rem;
  width: 50%;
  margin: auto;
}

.overlay {
  z-index: 5;
  width: 100%;
  height: 99%;
  background-color: rgba(0, 0, 0, 0.46);
}
.video-text {
  top: 0;
  color: var(--colorfont);
  text-shadow: 2px 2px 4px black;
  z-index: 6;
}
.intro > .card {
  margin: auto;
}
.card-intro > h2,
h5 {
  font-weight: bold;
}
.middle {
  background-image: url(../img/background1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
}
.middle-title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--colorfont);
  text-shadow: 2px 2px 4px black;
}
.title-footer,
hr,
.btn-secondary a {
  color: var(--colorfont);
}

.title-footer {
  font-size: 2rem;
}

.btn {
  margin: 20px 0;
}
.btn-outline-warning {
  color: var(--colorfont);
  border-color: var(--colorfont);
}
.btn-outline-success {
  color: var(--primaryBlue);
  border-color: var(--primaryBlue);
}
/* .section-video-view {
  background-image: linear-gradient(to top, var(--color4), var(--color1));
}
 */
.footer {
  background: var(--primaryBlue);
  padding: 45px 0 35px;
}
.fas,
.fab {
  color: var(--color4);
  font-size: 40px;
}
.banner-background {
  background-image: url("../img/bgoffer5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 200px;
}
.title-view {
  color: var(--colorfont);
}
@media only screen and (min-width: 901px) {
  .video-text {
    top: 0;
  }

  .video-title {
    font-size: 4rem;
    width: 100%;
  }
  .offer-view {
    margin-top: 0;
  }
  .title-view {
    margin: 15% 0;
    font-size: 5rem;
  }
}
